<!DOCTYPE html> 

<html> 
    <head>
        <title> Just Thoughts: The Blog </title>
        <link rel='stylesheet' href='../static/css/style.css'>
    </head> 

    <body>
        <canvas id='canvas1'> </canvas>
        <script type='text/javascript' src='../js/test.js'></script> 
        <header>
            <!-- <script>
                date = new Date();
                year = date.getFullYear();
                month = date.getMonth()+1;
                day = date.getDate(); 
                document.getElementById("current-date").innerHTML = month+" "+day+", "+year; 
            </script> --> 

            <h1><span class="highlight">Just</span> Thoughts</h1>
            
            <nav>
                <ul>
                    <li class="current"><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('post') }}">Posts</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>


    </body>
</html>